.sam-dropdown {
  display: inline-block;
  overflow: visible;
  position: relative;

  &-entry {
    position: relative;
  }
  &-panel {
    background: var(--skeleton);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 100%;
  }
  &-select {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

[data-panel='hidden'] {
  height: 0;
  visibility: hidden;
}
[data-panel='visible'] {
  animation-name: fade-dropdown;
  animation-duration: 0.5s;
  box-shadow: 0 0 8px 4px var(--shadow);
  height: auto;
  margin: 8px 0 0 0;
  visibility: visible;
}
