@use 'src/styles/bem' as bem;

$element: 'field';
// $modifier: 'invalid';

.#{bem.$block}-#{$element} {
  position: relative;
  text-align: left;

  // &--#{invalid} {
  //   position: relative;
  // }

  label {
    margin-right: 8px;
  }
}
