@use 'src/styles/color' as color;
@use 'src/styles/size' as size;

.input {
  border-color: color.$border;
  border-style: solid;
  border-width: size.$border;
  box-sizing: border-box;
  height: size.$input;
  padding: 0 8px;
  position: relative;
  text-align: left;
}
