@use '@/styles/size' as size;

.sam-input {
  background: transparent;
  caret-color: var(--text);
  color: var(--text);
  border: none;
  height: size.$input;
  outline: none;
  padding: 0 0 0 8px;
  width: 100%;

  &:focus::placeholder {
    color: var(--placeholder);
    transition-duration: .3s;
  }

  &::placeholder {
    color: transparent;
  }
}
