{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "NodeJS": "readonly",
    "NodeListOf": "readonly",
    "ResizeObserverOptions": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "parser": "babel-eslint"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:vue/recommended",
    "plugin:vue/essential",
    "prettier"
  ],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-var": "error",
    "object-property-newline": "error",
    "prefer-promise-reject-errors": "error",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSameLine": false,
        "bracketSpacing": true,
        "embeddedLanguageFormatting": "auto",
        "endOfLine": "auto",
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": false,
        "singleAttributePerLine": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false,
        "vueIndentScriptAndStyle": false
      }
    ],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "vue/attributes-order": [
      "error",
      {
        "alphabetical": true
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/order-in-components": ["error"],
    "vue/v-on-event-hyphenation": ["error", "always"]
  }
}
