.sam-button {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:hover {
    transition-duration: 0.2s;
  }

  &-prefix-icon {
    margin: 0 4px 0 0;
  }
  &-suffix-icon {
    display: none;
    margin: 0 0 0 4px;
  }

  &[data-mode="switch"] &-prefix-icon {
    display: none;
  }
  &[data-mode="switch"] &-suffix-icon {
    display: inherit;
  }
}
