@keyframes conic-after {
  0% {
    clip-path: inset(0 0 95% 0);
  }
  25% {
    clip-path: inset(0 95% 0 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
  100% {
    clip-path: inset(0 0 95% 0);
  }
}
@keyframes conic-before {
  0% {
    clip-path: inset(95% 0 0 0);
  }
  25% {
    clip-path: inset(0 0 0 95%);
  }
  50% {
    clip-path: inset(0 0 95% 0);
  }
  75% {
    clip-path: inset(0 95% 0 0);
  }
  100% {
    clip-path: inset(95% 0 0 0);
  }
}
@keyframes ripple {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.sam-button {
  background: transparent;
  border: 1px solid crimson;
  border-radius: 4px;
  box-sizing: border-box;
  color: crimson;
  cursor: pointer;
  height: 32px;
  padding: 0 8px;
  line-height: 32px;
  overflow: hidden;
  position: relative;

  &--off:hover {
    background: rgba(219, 20, 60, 0.5);
    color: white;
  }

  &--disabled,
  &--disabled:hover {
    background: rgba(0, 0, 0, 0.1);
    border-color: rgba(219, 20, 60, 0.5);
    color: rgba(219, 20, 60, 0.5);
    cursor: not-allowed;
  }

  &--loading {
    cursor: wait;
  }
  &--loading::before {
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;    
    z-index: 1;
  }

  &--on {
    background: crimson;
    color: white;
  }
  &--on::after,
  &--on::before {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 1px solid gold;
    border-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &--on::after {
    animation-name: conic-after;
  }
  &--on::before {
    animation-name: conic-before;
  }

  & + & {
    margin-left: 8px;
  }

  & > * {
    pointer-events: none;
  }

  &-effect {
    animation-name: ripple;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    background: white;
    border-radius: 50%;
    display: block;
    opacity: 0.5;
    transform: scale(0);
  }
}
