.sam-tabs {
  align-items: center;
  background: var(--skeleton);
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  height: var(--nav);
  justify-content: space-between;
  margin: 0 0 15px 0;
  position: relative;
  text-align: left;
  width: 100%;

  &-viewport {
    flex-grow: 1;
    overflow: hidden;
    padding: 0 8px;
  }

  &-select {
    display: block;
    padding: 0;
    transition-duration: 0.5s;
  }

  &-indicator {
    background: var(--primary);
    bottom: 0px;
    height: 2px;
    position: absolute;
    transition-duration: 0.2s;
  }

  &-controls {
    height: var(--nav);
    line-height: var(--nav);
  }

  &-more {
    background: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-weight: 600;
    height: var(--nav);
    letter-spacing: 2px;
    line-height: var(--nav);
    padding: 0 16px;
  }
}
