@keyframes conic-after {
  0% {
    clip-path: inset(0 0 95% 0);
  }
  25% {
    clip-path: inset(0 95% 0 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
  100% {
    clip-path: inset(0 0 95% 0);
  }
}
@keyframes conic-before {
  0% {
    clip-path: inset(95% 0 0 0);
  }
  25% {
    clip-path: inset(0 0 0 95%);
  }
  50% {
    clip-path: inset(0 0 95% 0);
  }
  75% {
    clip-path: inset(0 95% 0 0);
  }
  100% {
    clip-path: inset(95% 0 0 0);
  }
}

@keyframes fade-dropdown {
  0% {
    transform: translateY(-32px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-rollup {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-32px);
    opacity: 0;
  }
}

@keyframes ripple {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg);
  }
}
