#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

.sam-home {
  margin: 0 auto;
  max-width: 600px;

  &-title {
    font-size: 32px;
    line-height: 3;
  }
}

#nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 16px;

  li {
    line-height: 2;
    width: 200px;
  }

  a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.sam-mask {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}