button:not([data-appearance="legacy"]) {
  height: var(--input);
  line-height: var(--input);
  padding: 0 8px;
}
button:not([data-appearance="fill"]):not(:hover) {
  background: transparent;
}


[data-appearance="dashed"] {
  border-style: dashed;
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: -1px;
}

[data-appearance="fill"] {
  color: var(--highlight);
}

[data-appearance="legacy"] {
  border: none;
  display: inline;
  padding: 0;
  outline: none;

  &:hover {
    background: transparent;
  }
}

[data-appearance="outline"] {
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -1px;
}
