.card {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-origin: content-box;
  background-color: #0e294c;
  background-image: linear-gradient(
      #4cc7f3 2px,
      transparent 2px,
      transparent calc(100% - 2px),
      #4cc7f3 calc(100% - 2px),
      #4cc7f3 100%
    ),
    linear-gradient(
      90deg,
      #4cc7f3 2px,
      transparent 2px,
      transparent calc(100% - 2px),
      #4cc7f3 calc(100% - 2px),
      #4cc7f3 100%
    ),
    linear-gradient(
      #4cc7f3 2px,
      transparent 2px,
      transparent calc(100% - 2px),
      #4cc7f3 calc(100% - 2px),
      #4cc7f3 100%
    ),
    linear-gradient(
      90deg,
      #4cc7f3 2px,
      transparent 2px,
      transparent calc(100% - 2px),
      #4cc7f3 calc(100% - 2px),
      #4cc7f3 100%
    );
  background-repeat: no-repeat;
  background-position: top left, top left, bottom right, bottom right;
  background-size: 10px 100%, 100% 10px;
}

.corder {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-origin: content-box;
  background-color: #0e294c;
  background-image: linear-gradient(
      transparent 10px,
      #0e294c 10px,
      #0e294c calc(100% - 10px),
      transparent calc(100% - 10px),
      transparent 100%
    ),
    linear-gradient(
      90deg,
      transparent 10px,
      #0e294c 10px,
      #0e294c calc(100% - 10px),
      transparent calc(100% - 10px),
      transparent 100%
    ),
    linear-gradient(
      #4cc7f3 2px,
      transparent 2px,
      transparent calc(100% - 2px),
      #4cc7f3 calc(100% - 2px),
      #4cc7f3 100%
    ),
    linear-gradient(
      90deg,
      #4cc7f3 2px,
      transparent 2px,
      transparent calc(100% - 2px),
      #4cc7f3 calc(100% - 2px),
      #4cc7f3 100%
    );
  background-repeat: no-repeat;
  background-position: top left, top left, bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
}

.border {
  margin: 300px auto;
  width: 200px;
  height: 100px;
  background: linear-gradient(blue, blue) left top,
    linear-gradient(blue, blue) left top, linear-gradient(blue, blue) right top,
    linear-gradient(blue, blue) right top,
    linear-gradient(blue, blue) left bottom,
    linear-gradient(blue, blue) left bottom,
    linear-gradient(blue, blue) right bottom,
    linear-gradient(blue, blue) right bottom;
  background-repeat: no-repeat;
  background-size: 1px 24px, 24px 1px;
}

.el-card {
  background: radial-gradient(
      circle at center center,
      rgba(23, 48, 78, 1),
      rgba(20, 37, 63, 1)
    ),
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left
      top,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left
      top,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right
      top,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right
      top,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left
      bottom,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) left
      bottom,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right
      bottom,
    linear-gradient(rgba(179, 224, 255, 0.62), rgba(179, 224, 255, 0.62)) right
      bottom,
    linear-gradient(rgba(56, 144, 184, 0.6), rgba(56, 144, 184, 0.6)) top,
    linear-gradient(rgba(26, 87, 130, 0.6), rgba(26, 87, 130, 0.6)) bottom,
    linear-gradient(
        rgba(56, 144, 184, 0.6),
        rgba(219, 240, 255, 0.8),
        rgba(26, 87, 130, 0.6)
      )
      left,
    linear-gradient(
        rgba(56, 144, 184, 0.6),
        rgba(219, 240, 255, 0.8),
        rgba(26, 87, 130, 0.6)
      )
      right;
  background-repeat: no-repeat;
  background-position: 1px 1px, 0px 0px, 0px 0px, 0px 100%, 0px 100%, 100% 0px,
    100% 0px, 100% 100%, 100% 100%, 0px 0px, 0px 100%, 0px 100%, 100% 100%;
  background-size: calc(100% - 2px) calc(100% - 2px), 1px 10px, 1;
}

#example1 {
  background-image: linear-gradient(
    black 0%,
    black calc(100% - 30px),
    white 100%
  );
  background-clip: text;
  color: transparent;
}
