$black: black;
$pantone: #212121;
$pantone25d: #1a1a1a;
$pantone25l: #292929;
$pantone_reverse: #dedede;

$background: $pantone;
$border: #060505;
$content: white;
$font: white;
$panel: black;
$panel2: darkgrey;
$primary: crimson;
$secondary: hotpink;
$irrelevant: Lavender;
$focus: aqua;
$highlight: dodgerblue;

