.sam-home {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;

  &-title {
    color: var(--text);
    font-size: 32px;
    line-height: 3;
    text-decoration: none;

    :hover {
      color: var(--primary);
    }
  }
  &-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 16px;

    li {
      line-height: 2;
      width: 200px;

      :hover {
        background: var(--primary);
        color: var(--highlight)
      }
    }
    a {
      color: var(--text);
      display: block;
      font-weight: bold;
      text-decoration: none;

      &.router-link-exact-active {
        color: var(--primary);
      }
      &:hover {
        color: var(--text);
      }
    }
    .label {
      display: inline-block;
      text-align: right;
      width: 50%;

      &::after {
        content: ':';
        margin: 0 8px 0 0;
      }
    }
    .value {
      display: inline-block;
      text-align: left;
      width: 50%;
    }
  }
  &-mode {
    position: absolute;
    right: 20px;
    top: 16px;
  }
}

.sam-demo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px;
  width: 1200px;

  &-playground {
    width: 50%;
  }
  &-controls {
    width: 50%;
  }
}

.sam-button-demo {
  position: relative;

  &-table {
    border-collapse: collapse;
    border-color: var(--primary);
    border-style: solid;
    border-width: 1px;
    width: 100%;

    th, td {
      border-color: var(--primary);
      border-style: solid;
      border-width: 1px;
      height: var(--input);
      min-width: 60px;
    }
  }
  &-line {
    margin: 24px 0;
  }
}

.sam-dropdown-demo {
  position: relative;

  &-display {
    margin: 64px 0 0 0;
  }
}

.sam-icon-demo {
  background: var(--panel);

  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: disc;
  }
  &-item {
    align-items: center;
    display: flex;
    height: 2.5em;
    text-align: left;
    min-width: 50%;
  }
  &-icon {
    color: var(--primary);
    font-size: 1.5em;
    text-align: center;
    width: 2.5em;
  }
  &-text {
    color: var(--text);
  }
}

.sam-effect-demo {
  position: relative;

  &-cube {
    border: 1px solid var(--primary);
    height: 300px;
    margin: 32px auto;
    position: relative;
    width: 300px;
  }
}