@font-face {
  font-family: 'FontAwesome';
  src: url('@/assets/font/FontAwesome.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaterialDesign';
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/font/MaterialDesign.ttf");
}
@font-face {
  font-family: 'MaterialDesign-Outline';
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/font/MaterialDesign-Outline.otf");
}
@font-face {
  font-family: 'MaterialDesign-Round';
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/font/MaterialDesign-Sharp.otf");
}
@font-face {
  font-family: 'MaterialDesign-Outline';
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/font/MaterialDesign-Sharp.otf");
}
@font-face {
  font-family: 'MaterialDesign-TwoTone';
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/font/MaterialDesign-TwoTone.otf");
}

@font-face {
  font-family: 'Weather';
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/font/Weather.otf');
}
