@font-face {
  font-family: 'font-awesome';
  src: url('/font/FontAwesome.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'material-design';
  font-style: normal;
  font-weight: normal;
  src: url('/font/MaterialDesign.ttf');
}
@font-face {
  font-family: 'material-design-outline';
  font-style: normal;
  font-weight: normal;
  src: url('/font/MaterialDesign-Outline.otf');
}
@font-face {
  font-family: 'material-design-round';
  font-style: normal;
  font-weight: normal;
  src: url('/font/MaterialDesign-Sharp.otf');
}
@font-face {
  font-family: 'material-design-sharp';
  font-style: normal;
  font-weight: normal;
  src: url('/font/MaterialDesign-Sharp.otf');
}
@font-face {
  font-family: 'material-design-twotone';
  font-style: normal;
  font-weight: normal;
  src: url('/font/MaterialDesign-TwoTone.otf');
}

@font-face {
  font-family: 'weather';
  font-style: normal;
  font-weight: normal;
  src: url('/font/Weather.otf');
}
