:root[lang='en'] {
  [data-i18n]::before {
    content: attr(data-en);
  }
}

:root[lang='kr'] {
  [data-i18n]::before {
    content: attr(data-kr);
  }
}

:root[lang='zh'] {
  [data-i18n]::before {
    content: attr(data-zh);
  }
}
