[data-palette="error"] {
  background: var(--error);
  border-color: var(--error);
  color: var(--error);
  outline-color: var(--error);
}

[data-palette="primary"] {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary);
  outline-color: var(--primary);
}

[data-palette="success"] {
  background: var(--success);
  border-color: var(--success);
  color: var(--success);
  outline-color: var(--success);
}

[data-palette="secondary"] {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary);
  outline-color: var(--secondary);
}

[data-palette="warning"] {
  background: var(--warning);
  border-color: var(--warning);
  color: var(--warning);
  outline-color: var(--warning);
}
