@use 'color.scss' as color;

html,
body {
  background: color.$background;
  box-sizing: border-box;
  color: color.$font;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 0;
  }
}
