@use './layout.scss' as layout;

[data-status="disabled"] {
  &,
  &:hover {
    cursor: not-allowed;
    filter: brightness(0.75);
  }
}

[data-status="loading"] {
  cursor: wait;
  position: relative;

  &::before {
    @include layout.mask(1);
    backdrop-filter: blur(1px);
    background: var(--mask);
    border-radius: 4px;
    box-sizing: border-box;
    content: '';
  }
  &::after {
    @include layout.mask(2);
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    content: '\f1ce';
    font-family: 'FontAwesome';
    font-size: 1.5em;
  }
}


[data-status="active"] {
  color: var(--highlight);

  &::after,
  &::before {
    @include layout.mask(1);
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 1px solid var(--active);
    box-sizing: border-box;
    content: '';
  }
  &::after {
    animation-name: conic-after;
  }
  &::before {
    animation-name: conic-before;
  }
}
