@use 'src/styles/bem' as bem;
@use 'src/styles/color' as color;
@use 'src/styles/size' as size;

@import 'src/styles/reset';

.fieldset {
  border-color: color.$border;
  border-width: size.$border;
  position: relative;
  text-align: left;
}
