@use '@/styles/color' as color;

.sam-select {
  display: inline-block;
  height: 100%;
  padding: 0 0 0 8px;

  &-item {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: Microsoft YaHei;
    line-height: 19px;
    height: 100%;
    padding: 15px 0 14px 0;
  
    &:not(:first-child) {
      margin: 0 0 0 32px;
    }
    &:hover {
      color: color.$primary;
    }
    &.selected {
      color: color.$primary;
      cursor: text;
    }
    & > span {
      pointer-events: none;
    }
  }
}
