.sam-select {
  display: inline-block;
  height: 100%;
  padding: 0 0 0 8px;

  &-item {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-family: Microsoft YaHei;
    line-height: 19px;
    height: 100%;
    padding: 15px 0 14px 0;

    &:hover {
      color: var(--secondary);
    }
    & > span {
      pointer-events: none;
    }
  }
  &-icon {
    margin: 0 4px 0 0;
  }
}

li[data-selected="selected"] {
  color: var(--primary);
  cursor: text;
}

[data-direction="horizontal"] {
  li {
    &:not(:first-child) {
      margin: 0 0 0 32px;
    }
  }
}

[data-direction="vertical"] {
  li[data-selected="selected"] {
    background: linear-gradient(
      to right,
      var(--primary) 4px,
      var(--mask) 4px
    );
  }
}
