.sam-select {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;

  &[data-rollup] &-status {
    transform: rotate(180deg);
  }

  &-popup {
    width: 100%;
  }

  &-options {
    width: 100%;
  }

  &-clear {
    cursor: pointer;
  }
  &-status {
    cursor: pointer;
    transition-duration: 0.5s;
  }
}
