// @font-face {
//   font-family: 'FontAwesome';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@/assets/font/FontAwesome.otf');
// }
@font-face {
  font-family: 'MaterialDesign';
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/font/MaterialIcons-Regular.ttf");
    // url("@/assets/font/material-icons.woff2") format("woff2"),
    // url("@/assets/font/material-icons.woff") format("woff");
}
// @font-face {
//   font-family: 'Weather';
//   font-style: normal;
//   font-weight: normal;
//   src: url('@/assets/font/Weather.otf');
// }

.sam-icon {
  display: inline-block;
  font-family: 'MaterialDesign';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  &::before {
    content: attr(data-symbol);
  }
}
