// Theme: Faiz
:root {
  // Color: Palette
  --error: teal;
  --primary: crimson;
  --secondary: fuchsia;
  --success: forestgreen;
  --warning: tomato;
  // Size
  --input: 32px;
  --nav: 48px;
}
// Mode: Dark
:root[data-mode='dark'] {
  // Color: Base
  --background: #212121;
  --border: #dedede;
  --dialog: rgba(0, 0, 0, 0.5);
  --mask: rgba(255, 255, 255, 0.2);
  --shadow: rgba(0, 0, 0, 0.75);
  --placeholder: darkslategrey;
  --text: white;
  // Color: Responsive
  --active: goldenrod;
  --disabled: rgba(0, 0, 0, 0.1);
  --highlight: white;
  // Color: More
  --card: #1a1a1a;
  --board: #292929;
  --irrelevant: Lavender;
  --skeleton: black;
}
// Mode: Light
:root[data-mode='light'] {
  // Color: Base
  --background: white;
  --border: #212121;
  --dialog: rgba(255, 255, 255, 0.5);
  --mask: rgba(0, 0, 0, 0.2);
  --shadow: rgba(255, 255, 255, 0.75);
  --placeholder: lightgrey;
  --text: black;
  // Color: Responsive
  --active: goldenrod;
  --disabled: rgba(0, 0, 0, 0.1);
  --highlight: white;
  // Color: More
  --board: #292929;
  --card: #1a1a1a;
  --irrelevant: Lavender;
  --skeleton: #dedede;
}
