// Theme: Faiz
:root {
  // Color
  --secondary: #009688;
  --secondary-darker: #b2dfdb;
  --secondary-lighter: #00796b;
  --primary: #f44336;
  --primary-darker: #d32f2f;
  --primary-lighter: #ffcdd2;
  // Color: Palette
  --error: teal;
  // --primary: crimson;
  // --secondary: fuchsia;
  --success: forestgreen;
  --warning: tomato;
  // Size
  --gap: 8px;
  --input: 32px;
  --nav: 48px;
}
// Mode: Dark
:root[data-mode='dark'] {
  // Color
  --divider: rgba(255, 255, 255, 0.12);
  // Color: Background
  --bg-content: #303030;
  --bg-nav: #212121;
  --bg-popup: #424242;
  --bg-system: black;
  // Color: Text
  --irrelevant-text: rgba(255, 255, 255, 0.5);
  --primary-text: white;
  --secondary-text: rgba(255, 255, 255, 0.7);

  // Color: Base
  --background: #212121;
  --border: #dedede;
  --dialog: rgba(0, 0, 0, 0.5);
  --mask: rgba(255, 255, 255, 0.2);
  --shadow: rgba(0, 0, 0, 0.75);
  --placeholder: darkslategrey;
  --text: white;
  // Color: Responsive
  --active: goldenrod;
  --disabled: rgba(0, 0, 0, 0.1);
  --highlight: white;
  // Color: More
  --card: #1a1a1a;
  --board: #292929;
  --irrelevant: Lavender;
  --skeleton: black;
}
// Mode: Light
:root[data-mode='light'] {
  // Color
  --divider: rgba(0, 0, 0, 0.12);
  // Color: Background
  --bg-content: #fafafa;
  --bg-nav: #f5f5f5;
  --bg-popup: #ffffff;
  --bg-system: #e0e0e0;
  // Color: Text
  --irrelevant-text: rgba(0, 0, 0, 0.38);
  --primary-text: black;
  --secondary-text: rgba(0, 0, 0, 0.54);

  // Color: Base
  --background: white;
  --border: #212121;
  --dialog: rgba(255, 255, 255, 0.5);
  --mask: rgba(0, 0, 0, 0.2);
  --shadow: rgba(255, 255, 255, 0.75);
  --placeholder: lightgrey;
  --text: black;
  // Color: Responsive
  --active: goldenrod;
  --disabled: rgba(0, 0, 0, 0.1);
  --highlight: white;
  // Color: More
  --board: #292929;
  --card: #1a1a1a;
  --irrelevant: Lavender;
  --skeleton: #dedede;
}
