.sam-field {
  background-clip: border-box;
  border-color: var(--border);
  border-style: solid;
  border-width: 1px;
  padding: 0 0 0 10px;
  position: relative;
  text-align: left;
  transition-duration: .5s;
  width: 100%;

  &--empty {
    border-color: transparent transparent var(--border) transparent;
  }
  &--empty &-legend {
    transform: translateY(135%);
    transition-duration: .5s;
  }

  &--focus {
    border-color: var(--border);
  }
  &--focus &-legend {
    transform: translateY(0);
  }

  &-legend {
    transform: translateY(0);
    padding: 0 8px;
  }
}
