@use '@/styles/color' as color;

$size: 300px;
$gap: 16px;

@function angle($n) {
  @return ($n % 12) * 30deg;
}
@mixin absolute($padding, $z) {
  bottom: $padding;
  left: $padding;
  position: absolute;
  right: $padding;
  top: $padding;
  z-index: $z;
}
@mixin hand($padding, $end, $z) {
  bottom: $padding;
  left: 50%;
  position: absolute;
  right: $end;
  top: $padding;
  transform-origin: 0 50% 0;
  z-index: $z;
}

.sam-clock {
  height: $size;
  margin: 0 auto;
  position: relative;
  width: $size;

  &::before {
    @include absolute(0, 0);
    background: conic-gradient(
      color.$black 15deg,
      color.$pantone25d 15deg 45deg,
      color.$pantone25l 45deg 75deg,
      color.$black 75deg 105deg,
      color.$pantone25l 105deg 135deg,
      color.$pantone25d 135deg 165deg,
      color.$black 165deg 195deg,
      color.$pantone25d 195deg 225deg,
      color.$pantone25l 225deg 255deg,
      color.$black 255deg 285deg,
      color.$pantone25l 285deg 315deg,
      color.$pantone25d 315deg 345deg,
      color.$black 345deg 360deg
    );
    border-radius: 50%;
    content: ' ';
  }
  &::after {
    @include absolute(49%, 1);
    background: color.$secondary;
    border-radius: 50%;
    content: ' ';
  }

  &-dial {
    @include absolute($gap, 1);
  }
  &-tick {
    @include absolute(45%, 2);
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 10%;

    @for $i from 1 to 13 {
      &:nth-child(#{$i}) {
        transform: rotate(angle($i)) translateY($size / 2 - 18px);
      }
    }
  }

  &-hands {
    @include absolute($gap, 2);
  }
  &-hour-hand {
    @include hand(48%, 20%, 3);
    background: color.$primary;
    transform: rotate(15deg);
  }
  &-minute-hand {
    @include hand(48.5%, 15%, 4);
    background: color.$secondary;
    transform: rotate(135deg);
  }
  &-second-hand {
    @include hand(49%, 10%, 5);
    background: color.$irrelevant;
    transform: rotate(270deg);
  }
}