$gap: 16px;
$size: 300px;
$header: 48px;
$radius: calc(($size - $gap) / 2);

@function angle($n) {
  @return ($n % 12) * 30deg;
}
@mixin absolute($padding, $z) {
  bottom: $padding;
  left: $padding;
  position: absolute;
  right: $padding;
  top: $padding;
  z-index: $z;
}
@mixin hand($padding, $end, $z) {
  border-radius: 4px;
  bottom: $padding;
  left: 50%;
  position: absolute;
  right: $end;
  top: $padding;
  transform-origin: 0 50% 0;
  z-index: $z;
}

.sam-clock {
  height: $size + $header;
  margin: 0 auto;
  position: relative;
  width: $size;

  &::before {
    @include absolute(0, 0);
    background: conic-gradient(
      var(--panel) 15deg,
      var(--card) 15deg 45deg,
      var(--board) 45deg 75deg,
      var(--panel) 75deg 105deg,
      var(--board) 105deg 135deg,
      var(--card) 135deg 165deg,
      var(--panel) 165deg 195deg,
      var(--card) 195deg 225deg,
      var(--board) 225deg 255deg,
      var(--panel) 255deg 285deg,
      var(--board) 285deg 315deg,
      var(--card) 315deg 345deg,
      var(--panel) 345deg 360deg
    );
    border-radius: 50%;
    content: ' ';
    margin-top: $header;
  }
  &::after {
    @include absolute(49%, 9);
    background: var(--highlight);
    border-radius: 50%;
    content: ' ';
    margin-top: $header;
  }

  &-dial {
    @include absolute($gap, 1);
    margin-top: $header;
  }
  &-tick {
    @include absolute(45%, 2);
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 10%;

    @for $i from 1 to 13 {
      &:nth-child(#{$i}) {
        transform: rotate(angle($i)) translateY($radius);
      }
    }
  }

  &-hands {
    @include absolute($gap, 2);
    margin-top: $header;
  }
  &-hour-hand {
    @include hand(48%, 20%, 3);
    background: var(--primary);
  }
  &-minute-hand {
    @include hand(48.5%, 15%, 4);
    background:var(--secondary);
  }
  &-second-hand {
    @include hand(49%, 10%, 5);
    background: var(--irrelevant);
  }
}